.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 800px;
  width: 75%;
  background-color: #f9f9f9;
  font-family: "PT Sans", sans-serif;
  position: relative;
}

.title {
  font-size: 56px;
  font-weight: 700;
  position: absolute;
  left: 100px;
  bottom: 75%;
  color: #42567a;
  font-family: "PT Sans", sans-serif;
  width: 30%;
}

.axisX,
.axisY {
  position: absolute;
  background-color: #ccc;
}

.axisX {
  width: 100%;
  height: 0.5px;
  top: 42%;
  left: 0;
}

.axisY {
  width: 0.5px;
  height: 100%;
  left: 50%;
  top: 0;
}

.arrowCircle {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  z-index: 998;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background-color: white;
  }
  transition: background-color 0.5s ease;
}

.arrowsContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 61%;
  left: 100px;
  color: #42567a;
  gap: 20px;
  font-family: "PT Sans", sans-serif;
}

.arrows {
  display: flex;
  gap: 10px;
}

.eventsInfoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 75px;
  left: 75px;
  font-weight: 400;
  position: absolute;
  top: 73%;
  padding: 30px;
}

.eventsInfoContainer.active {
  opacity: 1;
  transition: opacity 0.4s;
}

.eventsInfoContainer.hidden {
  opacity: 0;
  transition: opacity 0.4s;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px #3777ee27;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  margin: 10px;
  background-color: white;
  color: #3777ee;
  cursor: pointer;

  &.left {
    right: 100%;
  }

  &.right {
    left: 100%;
  }
}
.navigation.active {
  opacity: 1;
}
.navigation.hidden {
  opacity: 0;
}

.customPagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 50px;
  position: absolute;
  cursor: pointer;
}

@media (max-width: 1553px) {
  .title {
    font-size: 46px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 850px) {
  .title {
    font-size: 33px;
    left: 50px;
  }

  .arrowsContainer {
    left: 50px;
  }

  .eventsInfoContainer {
    right: 50px;
    left: 50px;
    font-size: 5px;
    padding: 30px 10px;
  }

  .navigation {
    width: 30px;
    height: 30px;
    margin: 0;
  }
}

@media (max-width: 650px) {
  .title {
    font-size: 25px;
  }
  .arrowCircle {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 450px) {
  .container {
    min-height: 500px;
    position: relative;
  }

  .arrowsContainer {
    top: 85%;
    left: 20px;
  }
  .title {
    left: 20px;
  }

  .axisX,
  .axisY,
  .navigation {
    display: none;
  }

  .eventsInfoContainer {
    top: 60%;
    left: 0;
    right: 0;
  }
}
