.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 800px;
  width: 75%;
  background-color: #f9f9f9;
  font-family: "PT Sans", sans-serif;
  position: relative;
}

.title {
  font-size: 56px;
  font-weight: 700;
  position: absolute;
  top: 13%;
  left: 5%;
  color: #42567a;
  font-family: "PT Sans", sans-serif;
  width: 30%;
}

.circleContainer {
  position: relative;
  width: 536px;
  height: 536px;
  top: -5%;
}

.circle {
  width: 536px;
  height: 536px;
  border: 0.5px solid #d0d5e0;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.date {
  position: absolute;
  font-size: 200px;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  z-index: 999;
  top: 27%;
  &.left {
    right: 55%;
    color: #5d5fef;
  }

  &.right {
    left: 55%;
    color: #ef5da8;
  }
}

.axisX,
.axisY {
  position: absolute;
  background-color: #ccc;
}

.axisX {
  width: 100%;
  height: 0.5px;
  top: 45%;
  left: 0;
}

.axisY {
  width: 0.5px;
  height: 100%;
  left: 50%;
  top: 0;
}

.closedCircle,
.openedCircle {
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}

.closedCircle {
  width: 8px;
  height: 8px;
  background-color: rgb(106, 106, 106);
}

.openedCircle,
.arrowCircle {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  z-index: 998;
}
.arrowCircle {
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: white;
  }
  transition: background-color 0.5s ease;
}

.navigationContainer {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px #3777ee27;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  margin: 10px;
  background-color: white;
  color: #3777ee;

  &.left {
    right: 100%;
  }

  &.right {
    left: 100%;
  }
}

.arrowsContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64%;
  left: 5%;
  color: #42567a;
  gap: 20px;
  font-family: "PT Sans", sans-serif;
}

.arrows {
  display: flex;
  gap: 10px;
}

.circleNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #767676;
  font-family: "PT Sans", sans-serif;
  pointer-events: none;
}

.circleNumber.active {
  opacity: 1;
  scale: 1;
}

.circleNumber.hidden {
  opacity: 0;
  scale: 0.8;
}

.eventsInfoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  font-weight: 400;
  position: absolute;
  top: 76%;
  padding: 30px 0;
}

.infoCell {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 250px;
  flex-shrink: 0;
}

.text {
  font-size: 20px;
  color: #42567a;
}

.year {
  font-size: 25px;
  color: #3877ee;
}
