.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 800px;
  width: 75%;
  background-color: #f9f9f9;
  font-family: "PT Sans", sans-serif;
  position: relative;
}

.title {
  font-size: 56px;
  font-weight: 700;
  position: absolute;
  left: 100px;
  bottom: 75%;
  color: #42567a;
  font-family: "PT Sans", sans-serif;
  width: 30%;
}

.circleContainer {
  position: relative;
  width: 536px;
  height: 536px;
  top: -8%;
}

.circle {
  width: 536px;
  height: 536px;
  border: 0.5px solid #d0d5e0;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.date {
  position: absolute;
  font-size: 200px;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  z-index: 999;
  top: 26%;
  &.left {
    right: 55%;
    color: #5d5fef;
  }

  &.right {
    left: 55%;
    color: #ef5da8;
  }
}

.axisX,
.axisY {
  position: absolute;
  background-color: #ccc;
}

.axisX {
  width: 100%;
  height: 0.5px;
  top: 42%;
  left: 0;
}

.axisY {
  width: 0.5px;
  height: 100%;
  left: 50%;
  top: 0;
}

.closedCircle,
.openedCircle {
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}

.closedCircle {
  width: 8px;
  height: 8px;
  background-color: rgb(106, 106, 106);
}

.openedCircle,
.arrowCircle {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  z-index: 998;
}
.arrowCircle {
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: white;
  }
  transition: background-color 0.5s ease;
}

.arrowsContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 61%;
  left: 100px;
  color: #42567a;
  gap: 20px;
  font-family: "PT Sans", sans-serif;
}

.arrows {
  display: flex;
  gap: 10px;
}

.circleNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #767676;
  font-family: "PT Sans", sans-serif;
  pointer-events: none;
}

.circleNumber.active {
  opacity: 1;
  scale: 1;
}

.circleNumber.hidden {
  opacity: 0;
  scale: 0.8;
}

.eventsInfoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 90px;
  left: 75px;
  font-weight: 400;
  position: absolute;
  top: 73%;
  padding: 30px;
}

.eventsInfoContainer.active {
  opacity: 1;
  transition: opacity 0.4s;
}

.eventsInfoContainer.hidden {
  opacity: 0;
  transition: opacity 0.4s;
}

.slide {
  min-width: 250px;
  max-width: 320px;
  max-height: 200px;
}

.infoCell {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.text {
  font-size: 20px;
  color: #42567a;
  max-height: 104px;
}

.year {
  font-size: 25px;
  color: #3877ee;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px #3777ee27;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  margin: 10px;
  background-color: white;
  color: #3777ee;
  cursor: pointer;

  &.left {
    right: 100%;
  }

  &.right {
    left: 100%;
  }
}
.navigation.active {
  opacity: 1;
}
.navigation.hidden {
  opacity: 0;
}

.customPagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 50px;
  position: absolute;
  cursor: pointer;
}

@media (max-width: 1553px) {
  .title {
    font-size: 46px;
  }
  .date {
    font-size: 150px;
    top: 30%;
  }
  .circleContainer {
    width: 450px;
    height: 450px;
  }

  .circle {
    width: 450px;
    height: 450px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 850px) {
  .title {
    font-size: 33px;
    left: 50px;
  }
  .date {
    font-size: 100px;
    top: 33%;
  }
  .circleContainer {
    width: 350px;
    height: 350px;
  }

  .circle {
    width: 350px;
    height: 350px;
  }
  .arrowsContainer {
    left: 50px;
  }

  .eventsInfoContainer {
    right: 30px;
    left: 40px;
    font-size: 5px;
    padding: 30px 0;
    width: 85%;
  }

  .navigation {
    width: 30px;
    height: 30px;
    margin: 0;
  }

  .text {
    font-size: 16px;
  }
  .slide {
    min-width: 200px;
    max-width: 250px;
  }
}

@media (max-width: 650px) {
  // .container {
  //   padding: 0 30px;
  // }
  .title {
    font-size: 25px;
  }
  .date {
    font-size: 70px;
    top: 36%;
  }

  .circleContainer {
    width: 300px;
    height: 300px;
  }

  .circle {
    width: 300px;
    height: 300px;
  }

  .openedCircle,
  .arrowCircle {
    width: 40px;
    height: 40px;
  }
  .text {
    font-size: 14px;
  }
  .year {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .container {
    min-height: 300px;
    position: static;
  }
  .navigation {
    display: none;
  }

  .arrowsContainer {
    top: 85%;
    left: 20px;
  }
  .title {
    left: 20px;
  }

  .circle {
    display: none;
  }

  .closedCircle,
  .openedCircle {
    display: none;
  }

  .axisX {
    display: none;
  }

  .axisY {
    display: none;
  }

  .date {
    font-size: 65px;
    top: 36%;
  }

  .eventsInfoContainer {
    padding: 0;
    top: 60%;
    left: 20px;
    right: 0;
  }
}

@media (max-width: 350px) {
  .date {
    font-size: 50px;
  }
}
